@model IEnumerable<Proyecto_Funeraria2020.Models.DetallePlan>


<div class="scroll" style=" width:900px;height:370px;overflow:auto; margin-left:auto;margin-right:auto;">
    <table class="table tabla" style="width:900px;border: 2px solid black">
        <tr class="tr-tabla">
            <th class="th-tabla">@Html.Label("Codigo Item")</th>
            <th class="th-tabla">@Html.Label("Nombre")</th>
            <th class="th-tabla">@Html.Label("Cantidad")</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.codItem)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.nomItem)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.cantPlan)</td>
            </tr>
        }
    </table>
</div>

<link href="~/Content/responsivo.css" rel="stylesheet" />
