@model IEnumerable<Proyecto_Funeraria2020.Models.Personal>


<div class="scroll" style=" width:100%;height:370px; overflow:auto ;">
    <table class="table tabla" style="width:1400px;border: 2px solid black" >
        <tr class="tr-tabla">
            <th class="th-tabla">@Html.Label("DNI")</th>
            <th class="th-tabla">@Html.Label("Nombre(s)")</th>
            <th class="th-tabla">@Html.Label("Apellidos")</th>
            <th class="th-tabla">@Html.Label("Género")</th>
            <th class="th-tabla">@Html.Label("Vivienda Residencial")</th>
            <!--<th class="th-tabla">@Html.Label("Distrito")</th>-->
            <th class="th-tabla">@Html.Label("Teléfono")</th>
            <!--<th>@Html.Label("Cargo")</th>
            <th>@Html.Label("Estado")</th>-->
            <th class="th-tabla">@Html.Label("Imagen Referencial")</th>
            <th class="th-tabla">@Html.Label("Usuario")</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.dniPersonal)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.nomPersonal)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.apePersonal)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.codGenero)</td>
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.dirPersonal)</td>
                <!--<td class="td-tabla">@Html.DisplayFor(modelItem => item.codDistrito)</td>-->
                <td class="td-tabla">@Html.DisplayFor(modelItem => item.telPersonal)</td>
                <!--<td>@Html.DisplayFor(modelItem => item.codCargo)</td>
                <td>@Html.DisplayFor(modelItem => item.codEstadoPersonal)</td>-->
                <td class="td-tabla"><img style="width:40px;height:40px;" src="@Url.Content(item.imgPersonal)" alt="imagen no disponible" /></td>

                <td class="td-tabla">
                    @if (item.asigPersonal.Equals("No asignado"))
                    {
                        @Html.ActionLink("No asignado", "AsignarUsuario", new { id = item.dniPersonal }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Asignado", null, null, new { @class = "btn btn-success", disabled = "disabled" })
                    }
                </td>
                <td class="td-tabla">@Html.ActionLink("Editar", "EditPersonal", new { id = item.dniPersonal }, new { @class = "btn btn-info" })</td>
                <td class="td-tabla">@Html.ActionLink("Eliminar", "DeletePersonal", new { id = item.dniPersonal }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </table>
</div>


<link href="~/Content/responsivo.css" rel="stylesheet" />