
@model IEnumerable<Proyecto_Funeraria2020.Models.Representante>

<div class="scroll"  style=" width:100%;height:350px; overflow:auto ;">
    <table class="table tabla" style="width:1400px;border: 2px solid black"">
        <tr class="tr-tabla">
            <th class="th-tabla">@Html.Label("Nro Documento")</th>
            <th class="th-tabla">@Html.Label("Tipo de Documento")</th>
            <th class="th-tabla">@Html.Label("Tipo de Persona")</th>
            <th class="th-tabla">@Html.Label("Nombre(s)")</th>
            <th class="th-tabla">@Html.Label("Apellidos")</th>
            <!--<th class="th-tabla">@Html.Label("Género")</th>-->
            <th class="th-tabla">@Html.Label("Vivienda residencial")</th>
            <!--<th class="th-tabla">@Html.Label("Distrito")</th>-->
            <th class="th-tabla">@Html.Label("Teléfono")</th>
            <th class="th-tabla"></th>
            <th class="th-tabla"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.codRepresentante)</td>
                <td>
                    @if (item.codTipoDocumento.Equals(1)){ @Html.DisplayName("DNI")} 
                    else if (item.codTipoDocumento.Equals(2)){ @Html.DisplayName("CE")}
                    else if (item.codTipoDocumento.Equals(3)){ @Html.DisplayName("RUC")}
                </td>
                <td>
                    @if (item.codTipoPersona.Equals(1)){ @Html.DisplayName("Natural")} 
                    else if (item.codTipoPersona.Equals(2)){ @Html.DisplayName("Jurídica")}
                </td>
                <td>@Html.DisplayFor(modelItem => item.nomRepresentante)</td>
                <td>@Html.DisplayFor(modelItem => item.apeRepresentante)</td>
                <!--<td>@Html.DisplayFor(modelItem => item.codGenero)</td>-->
                <td>@Html.DisplayFor(modelItem => item.dirRepresentante)</td>
                 <!--<td>@Html.DisplayFor(modelItem => item.codDistrito)</td>-->
                <td>@Html.DisplayFor(modelItem => item.telRepresentante)</td>
                <td>@Html.ActionLink("Editar", "EditRepresentante", new { id = item.codRepresentante }, new { @class = "btn btn-info" })</td>
                <td>@Html.ActionLink("Eliminar", "DeleteRepresentante", new { id = item.codRepresentante }, new { @class = "btn btn-danger" })</td>
            </tr>
        }

    </table>
</div>


<link href="~/Content/responsivo.css" rel="stylesheet" />
