@model Proyecto_Funeraria2020.Models.Difunto

@{
    ViewBag.Title = "CreateDifunto";
}
<link href="~/Content/responsivo.css" rel="stylesheet" />

<div style="display:flex;justify-content:space-between">

    <h2>Difunto</h2>

    <div style="width:40%;margin-top:20px;">
        @Html.ActionLink("Volver al listado", "Difuntos", null, new { @class = "btn btn-warning col-md-6 ", @style = "float:right;" })
    </div>
</div>


<div class="prodser">
    @using (Html.BeginForm("CreateDifunto", "Difunto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
        <hr />
        <h4>Crear Difunto</h4>
        <hr /><br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="div-izquierda">
            <div class="form-group flexible">
                @Html.Label("DNI/CE", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.codDifunto, new { htmlAttributes = new { maxlength = 8, @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codDifunto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Tipo de documento", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.DropDownList("codTipoDocumento", (SelectList)ViewBag.tipdoc, new { @class = "btn btn-default" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Nombre(s)", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.nomDifunto, new { htmlAttributes = new { maxlength = 50, @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nomDifunto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Apellidos", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.apeDifunto, new { htmlAttributes = new { maxlength = 50, @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apeDifunto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Género", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.DropDownList("codGenero", (SelectList)ViewBag.generos, new { @class = "btn btn-default" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Estado civil", htmlAttributes: new { @class = "control-label  col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.DropDownList("codEstadoCivil", (SelectList)ViewBag.estciviles, new { @class = "btn btn-default" })
                </div>
            </div>


            <div class="form-group flexible">
                @Html.Label("Lugar de fallecimiento", htmlAttributes: new { @class = "control-label col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.lugFallDifunto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lugFallDifunto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="div-derecha">

            <div class="form-group flexible">
                @Html.Label("Fecha de nacimiento", htmlAttributes: new { @class = "control-label col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.fecNacDifunto, new { htmlAttributes = new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString() } })
                    @Html.ValidationMessageFor(model => model.fecNacDifunto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group flexible">
                @Html.Label("Fecha de fallecimiento", htmlAttributes: new { @class = "control-label col-md-4 col-xs-3" })
                <div class="col-md-7 col-xs-6">
                    @Html.EditorFor(model => model.fecFallDifunto, new { htmlAttributes = new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString() } })
                    @Html.ValidationMessageFor(model => model.fecFallDifunto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group flexible ">
                @Html.Label("Acta Defunción", htmlAttributes: new { @class = "control-label col-md-2 col-xs-3" })
                <div class="col-md-5 col-xs-6 ">
                </div>
            </div>

            <div class="form-group flexible">
                <div class="col-md-5 col-xs-6 ">
                    @Html.TextBox("archivo", "", new { maxlength = 60, type = "file", accept = "image/*" })
                    <div class="text-danger">
                        @ViewBag.imag
                    </div>
                </div>
                <div class="col-md-2 col-xs-3"></div>
            </div>

            <div id="vista">
                <div id="vistazo">

                </div>
            </div>

            <div class="form-group flexible ">
             
                
                <input type="submit" value="Registrar" class="btn btn-success col-md-4  col-xs-5" />
                @Html.ActionLink("Nuevo", "CreateDifunto", null, new { @class = "btn btn-success col-md-4  col-xs-5" })

            </div>

            <div class="mensaje text-danger" style=" border: 1px solid red; color:#E01111; text-align: center;">
                @ViewBag.mensaje
            </div>

        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    document.getElementById("archivo").onchange = function (e) {

        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = function () {
            let preview = document.getElementById('vistazo'),
                img = document.createElement('img');
            img.src = reader.result;
            preview.innerHTML = '';
            preview.append(img);
        };
    }</script>
