@model Proyecto_Funeraria2020.Models.Planes
@using Proyecto_Funeraria2020.Models;

@{
    ViewBag.Title = "DetallePlan";
}
<link href="~/Content/responsivo.css" rel="stylesheet" />

<div style="display:flex;justify-content:space-between">

    <h2>Plan</h2>

    <div style="width:40%;margin-top:20px;">
        @Html.ActionLink("Volver al listado", "Planes", null, new { @class = "btn btn-warning col-md-6 ", @style = "float:right;" })
    </div>
</div>

<div class="prodser">
    <hr />
    <h4>Detalle Plan</h4>
    <hr />
    <br /><br />
    <div class="form-horizontal">

        <div class="div-izquierda">

            <dl class="dl-horizontal" style="font-size:1.20em;">
                <dt>@Html.DisplayName("Codigo : ")</dt>
                <dd>@Html.DisplayFor(model => model.codPlan)</dd>
                <br />
                <dt>@Html.DisplayName("Nombre Plan : ")</dt>
                <dd>@Html.DisplayFor(model => model.nombreplan)</dd>
                <br />
                <dt>@Html.DisplayName("Precio Plan : ")</dt>
                <dd> S/. @Html.DisplayFor(model => model.precioPlan) </dd>
                <br />
                <dt>@Html.DisplayName("Estado : ")</dt>

                <dd>
                    @if (Model.estPlan == 1)
                    {
                        @Html.Label("Activo")
                    }
                    else
                    {
                        @Html.Label("Inactivo")
                    }

                </dd>
            </dl>
        </div>
        <div class="div-izquierda">

            <div id="vista">
                <div id="vistazo">
                    <img src="@Url.Content(Model.imgPlan)" style="width:100%;height:100%;" />
                </div>
            </div>

        </div>
    </div>

</div>

<hr />
<h4>Lista de Items </h4>

<hr />
<br />
<div style="float:left;width:100%;margin-top:15px;">
    @Html.Partial("_DetallePlanesLista", (List<DetallePlan>)ViewBag.detalle)
</div>



<script>
document.getElementById("archivo").onchange = function (e) {

        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = function () {
            let preview = document.getElementById('vistazo'),
                img = document.createElement('img');
            img.src = reader.result;
            preview.innerHTML ='';
            preview.append(img);
        };
}</script>

