@model IEnumerable<Proyecto_Funeraria2020.Models.ProductoServicio>

@{
    ViewBag.Title = "ItemsPlan";
}


<div style="display:flex;justify-content:space-between">

    <h2>Planes</h2>
    <div style="width:50%;margin-top:20px;">
        @Html.ActionLink("Regresar", "Planes", null, new { @class = "btn btn-primary col-md-5 col-xs-12 ", @style = "float:right;" })
    </div>
</div>
<hr />
<h4>Agregar a Plan</h4>
<hr /><br />

@Html.ActionLink("Seguir con el plan", "VerItemsAnadidosPlanes", null, new { @class = "btn btn-warning col-md-2 ", @style = "float:left;" })

<br /><br /><br /><br />
<div class="prodser">
    @using (Html.BeginForm("ItemsPlan", "Planes", FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="div-izquierda">
                <div class="form-group flexible">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-5 col-xs-3" })

                    <div class="col-md-7 col-xs-6">
                        @Html.TextBox("para", null, new { maxlength = 40, @class = "form-control" })
                    </div>
                </div>

                <div class="form-group flexible ">
                    <div style="margin-left:auto; margin-right:auto;">
                        <input type="submit" value="Buscar" class="btn btn-success col-md-12  col-xs-12" />
                    </div>
                </div>

                <div class="form-group flexible text-danger mensaje">

                    @if (TempData["msj"] != null)
                    {

                        @TempData["msj"];
                    }

                </div>
            </div>
        </div>
    }
</div>

<div class="scroll" style=" width:100%;height:400px; overflow: auto;">
    <table class="table tabla" style="width:1050px ; margin:0px auto;  border: 2px solid black">

        <tr class="tr-tabla">
            <th class="th-tabla">@Html.Label("Imagen")</th>
            <th class="th-tabla">@Html.Label("Nombre")</th>
            <!--<th class="th-tabla">@Html.Label("Descripción")</th>-->
            <th class="th-tabla">@Html.Label("Color")</th>
            <th class="th-tabla">@Html.Label("Material")</th>
            <th class="th-tabla">@Html.Label("Precio")</th>
            <th class="th-tabla">@Html.Label("Cantidad")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><img style="width:50px;height:50px;" src="@Url.Content(item.imgItem)" alt="imagen no disponible" /></td>
                <td>@Html.DisplayFor(modelItem => item.nomItem)</td>
                <!--<td class="td-tabla">@Html.DisplayFor(modelItem => item.desItem)</td></th>-->
                <td>
                    @if (item.codColor.Equals("-")){ @Html.DisplayName("-")}
                    else if (item.codColor.Equals("1")){ @Html.DisplayName("Plateado")}
                    else if (item.codColor.Equals("2")){ @Html.DisplayName("Negro")}
                    else if (item.codColor.Equals("3")){ @Html.DisplayName("Marron")}
                    else if (item.codColor.Equals("4")){ @Html.DisplayName("Blanco")}
                    else if (item.codColor.Equals("5")){ @Html.DisplayName("Ceniza")}
                    else if (item.codColor.Equals("6")){ @Html.DisplayName("Rojo oscuro")}
                </td>
                <td>
                    @if (item.codColor.Equals("-")){@Html.DisplayName("-")}
                    else if (item.codMaterial.Equals("1")){ @Html.DisplayName("Madera")}
                    else if (item.codMaterial.Equals("2")){ @Html.DisplayName("Metal")}
                    else if (item.codMaterial.Equals("3")){ @Html.DisplayName("Cristal")}

                </td>
                <td style="border-right:1px solid #ddd">S/. @Html.DisplayFor(modelItem => item.precioItem)</td>
                <td style="width:250px">
                    <div>
                        @using (Html.BeginForm("AnadirItems", "Planes", FormMethod.Post))
                        {
                            <div class="form-group">
                                <div>@Html.Hidden("id", item.codItem)</div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.TextBox("cantidad", null, new { @class = "form-control", type = "number", min = 1, max = 50 })
                                </div>
                                <button class="btn btn-success">Agregar</button>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<link href="~/Content/responsivo.css" rel="stylesheet" />