@model IEnumerable<Proyecto_Funeraria2020.Models.Planes>

@{
    ViewBag.Title = "Planes";
}

<div style="display:flex;justify-content:space-between">

    <h2>Planes</h2>
    <div style="width:40%;margin-top:20px;">
        @Html.ActionLink("Crear Plan", "ItemsPlan", null, new { @class = "btn btn-primary col-md-6 ", @style = "float:right;" })
    </div>
</div>
<hr />
<h4>Lista de Planes</h4>
<hr />
<br />
<br />
<div class="form-group flexible text-danger mensaje">

    @if (TempData["msj"] != null)
    {

        @TempData["msj"];
    }

</div>

<div class="scroll" style=" width:100%;height:470px; overflow:auto ;">
    <table class="table tabla" style="width:1050px; margin: 0px auto;">
        <tr class="tr-tabla">
            <th class="th-tabla">@Html.Label("ID Plan")</th>
            <th class="th-tabla">@Html.Label("Nombre Plan")</th>
            <th class="th-tabla">@Html.Label("Precio")</th>
            <th class="th-tabla">@Html.Label("Estado")</th>
            <th class="th-tabla"> @Html.Label("Items agregados")</th>
            <!--<th class="th-tabla">@Html.Label("Imagen ")</th>-->
            <th class="th-tabla"> </th>
            <th class="th-tabla"> </th>
            <th class="th-tabla"> </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td class="td-tabla">@Html.DisplayFor(modelItem => item.codPlan)</td>
        <td class="td-tabla">@Html.DisplayFor(modelItem => item.nombreplan)</td>
        <td class="td-tabla">S/. @Html.DisplayFor(modelItem => item.precioPlan)</td>
        <td class="td-tabla">
            @if (item.estPlan.Equals(1))
            {
                @Html.Label("Activo", new { @class = "btn btn-success", disabled = "disabled" })
            }
            else
            {
                @Html.Label("Inactivo", new { @class = "btn btn-warning", disabled = "disabled" })
            }


        </td>
        <td class="td-tabla">@Html.DisplayFor(modelItem => item.cuentaplanes)</td>
        <!--<td><img style="width:50px;height:50px;" src="@Url.Content(item.imgPlan)" alt="imagen no disponible" /></td>-->
        <td class="td-tabla">@Html.ActionLink("Detalle", "DetallePlan", new { id = item.codPlan }, new { @class = "btn btn-success" })</td>
        <td class="td-tabla">@Html.ActionLink("Editar", "EditarPlan", new { id = item.codPlan }, new { @class = "btn btn-info" })</td>

        <td class="td-tabla">
            @if (item.existplanes.Equals("No Existe"))
            {
                @Html.ActionLink("Eliminar", "DeletePlan", new { id = item.codPlan }, new { @class = "btn btn-danger" })
            } 
        </td>
    </tr>
        }

    </table>
</div>

<link href="~/Content/responsivo.css" rel="stylesheet" />